.container {
	background-color: #e6e6fa;
	width: 50%;
	height: 100%;
	margin-top: 20px;
	margin: 20px auto;
	padding: 20px;
	border-radius: 20px;

}

.container:hover {
	transform: translateY(-5px);
	box-shadow: 0 9px 20px  #4b4692;
}
.container > h1 {
	text-align: center;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	color: #534dab;
}

.name  {
	text-align: center;
	font-style: oblique;
	font-weight: 900;
	padding-top: 5px;
	color: #534dab;
	font-size: large;
}
.name > a {
	font-size: 30px;
}

#skills, #projects, #experience, #education{
  background-color: #e9e9fb;
  padding: 20px;
  margin: 50px ;
  border-radius: 10px;
  border-left: 5px solid #4b4692;
  transition: transform 0.3s ease-in-out;
}


#skills h2, #projects h2, #experience h2, #education h2 {
  color: #4b4692;
  font-weight: 700;
  margin-top: 0;
	font-size: 40px;
	text-decoration: underline;
}
#education p , #experience p{
	font-style: italic;
	font-weight: 500;
	font-size: 20px;
	color: #1d1a45;
}


#skills ul li, #projects ul li {
  margin-bottom: 10px;
  font-size: 18px;
	font-style: italic;
	color: #1d1a45;
}

#skills:hover, #projects:hover, #experience:hover, #education:hover {
  transform: translateY(-5px);
	box-shadow: 0 9px 20px  #4b4692;
}

.button-container {
  display: flex;
  justify-content: center; 
  align-items: center;
}

button {
  background-color: #4b4692;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px; 
  transition: background-color 0.3s ease;
}

button:hover {
	transform: translateY(-5px);
	box-shadow: 0 9px 20px #1d1a45;
  background-color: #ada9f8
}

@media (max-width: 768px) {
  #skills, #education, #projects, #experience {
    padding: 15px;
  }

  #skills ul li, #education ul li, #project ul li, #experience ul li {
    font-size: 16px;
  }
}


